*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* font style */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{
    background-image: url(Assets/Hero-bg.png);
    height: 698px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* share style */
.dark-1{
    color:#4E47FF;
}
.btn{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    padding:12px 36px;
    border: none;
    font-size: 16px;
    font-weight: bold;

}
.text-center{
    text-align: center;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    max-width: 87%;
    margin: auto;
    padding: 50px 0;
    
}
nav .nav-title{
    color: #4E47FF;
    font-size: 34px;
    font-weight: bold;
}
/* banner style */
.banner{
   padding:200px 0;
   text-align: center;
    
    
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
}
.banner h2{
    margin-bottom: 20px;
}
/* main section style */
main{
    width: 80%;
    margin: auto;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
}
.hero-image{
    height: 328px;
    border-radius: 48px;
}
.hero-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    padding-bottom: 23px;
}
.hero-description{
    font-size: 24px;
    color: #25243250;
    padding-bottom: 24px;
    ;
}
/* user section */
  .users{
    background-color: #4E47FF10;
    padding: 50px 80px;
    border-radius: 24px;
    margin-top: 120px;
    
}
.users-verified{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    margin: auto;
}
.users-number{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.users-descreption{
    font-size: 20px;
    color: #25243250;
}
