*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e5e7ff;
}
/* font style */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{
    background-image: url(Assets/Hero-bg.png);
    height: 698px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* share style */
.dark-1{
    color:#4E47FF;
}
.btn{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    padding:12px 36px;
    border: none;
    font-size: 16px;
    font-weight: bold;

}
.btn:hover{
    background-color:orangered;
}
.text-center{
    text-align: center;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    max-width: 87%;
    margin: auto;
    padding: 50px 0;
    
}
nav .nav-title{
    color: #4E47FF;
    font-size: 34px;
    font-weight: bold;
}
/* banner style */
.banner{
   padding:200px 0;
   text-align: center;
    
    
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
}
.banner h2{
    margin-bottom: 20px;
}
/* main section style */
main{
    width: 80%;
    margin: auto;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
}
.hero-image{
    height: 328px;
    border-radius: 48px;
}
.hero-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    padding-bottom: 23px;
}
.hero-description{
    font-size: 24px;
    color: #25243250;
    padding-bottom: 24px;
    ;
}
/* user section */
  .users{
    background-color: #4E47FF10;
    padding: 50px 80px;
    border-radius: 24px;
    margin-top: 120px;
    
}
.users-verified{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    margin: auto;
}
.users-number{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.users-descreption{
    font-size: 20px;
    color: #25243250;
}
/* card style here */
.main-card{
    display: flex;
    justify-content: space-between;
}
.card-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-top: 120px;
}
.card{
    padding: 24px;
    border-radius: 14px;
    margin-top: 50px;
    background-color:#FFFFFF;
}
.card-sub-title{
    padding: 24px;
}
.card-info{
    display: flex;
    gap: 10px;
}
.sub-title{
    font-size: 24px;
    font-weight:400 ;

}
.card-desceiption{
    font-size: 16;
}
.card-simple-title{
    padding: 24px 0;
}
.card-info p{
    color: #757575;
    font-size:16px ;
}
.card-info span{
color: #B3B3B3;
font-size: 16px;
}
.card-info img{
    border-radius: 50px;
}
/* resume style */
.resume{
    margin: 120px auto 0 auto;
    border-radius: 14px;
    padding: 71px 150px;
    background-color:#FFFFFF;
}
.resume h2{
    font-size: 50px;
    font-weight: bold; 
   
    color: #000000;
}
.resume p{
    font-size: 16px;
    color: #00000050;
    padding: 20px 0;
}
.resume .resume-img img{
padding-top: 20px;
border-radius: 48px;
}
/* form style */
.input-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 71px 0;
    margin-top: 120px;
}
.input-title{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
}
form input[type="text"] ,form input[type="email"], form textarea{
   
    border-radius: 10px;
    background-color: white;
    display: block;
    width:100%;
    padding: 20px 30px;
    margin-bottom: 24px;
    border: none;
}
form button{
    width: 100%;
}
form p{
    margin-bottom: 10px;
}

/* footer section */
.footer-section{
    background-color: #FFFFFF;
    padding: 200px 0;
}
.footer-section h1{
 font-size: 100px;
 font-weight:bold;
 color: #4E47FF;

}
.footer-section p{
    font-size: 16px;
    color: #8987A1;
    line-height: 150%;
}
.footer-items li a{
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
}
.footer-items li{

    list-style: none;

}
.footer-items ul li {
    display: inline-block;
    align-items: center;
    margin-right: 10px;
    padding-top: 20px;
}



